<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="images/logo.ico">
</head>

<body>
     <nav class="nav">
        <ul class="nav justify-content-center">
            <a href="/login"><img src="images/logo.png" alt="perfecttime" id="brand-image"></a>
            </div>
            <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charts">Charts</a>
            </li>
            <li>
                <a class="nav-link right" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <br>
   

    <div class="jumbotron2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="display-3 ">Our Mission</h1>
                    <br>
                    <p class="lead ">Our mission is to offer women and men the tools, knowledge, and support to understand how their fertility works, and share events and fertility tracking with a co-creative.</p>
     
                </div>
            </div> 
        </div>
    </div>
<br>
   <div class="container">
  <h2 style="color: #ff6666;"><center>Who we are<center></h2>
  <p><center> Perfect Time is a company based in Berkeley. We were founded in 2018. We are the fastest growing startup.<center></p>
</div>
<br>
<!-- Main container -->
  <div class="container">
    <h2 h2 style="color: #ff6666;"><center>Meet Our Team</center></h2>
    <div class="row">
      <!-- Profile Div -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="row align-items-center justify-content-center">
          <div class="col-5 p-0">
            <div class="image-holder text-center ">
                <img class="animated fadeIn" src="images/daniel.jpg" alt="daniel">
              <p class="team-name">Daniel Murray</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Profile Div -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="row align-items-center justify-content-center">
          <div class="col-5 p-0">
            <div class="image-holder text-center">
            <img class="animated fadeIn" src="images/frank.jpg" alt="frank">
              <p class="team-name">Frank Valdez</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Profile Div -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="row align-items-center justify-content-center">
          <div class="col-5 p-0">
            <div class="image-holder text-center">
              <img class="animated fadeIn" src="images/kimmy.png" alt="kimmy">
              <p class="team-name">Kimarie Haverty-Bozman</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Profile Div -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="row align-items-center justify-content-center">
          <div class="col-5 p-0">
            <div class="image-holder text-center">
              <img class="animated fadeIn" src="images/julie.jpg" alt="julie">
              <p class="team-name">Julie Nguyen</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Profile Div -->
      <div class="col-12">
        <div class="row align-items-center justify-content-center">
          <div class="col-5 p-0">
            <div class="image-holder text-center">
              <img class="animated fadeIn" src="images/konstantin.png" alt="konstantin">
              <p class="team-name">Konstantin Tikhonov</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <br>

  <!-- Copyright-->
          <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright Perfect Time
              </div>
          </div>
          <!--/.Copyright --> 
</body>
</html>