<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" sizes="16x16" href="images/logo.ico">
</head>

<body>
    <nav class="nav">
        <div class="nav justify-content-center">
            <a href="/login"><img src="images/logo.png" alt="perfecttime" id="brand-image"></a>
        </div>
    </nav>
    <br>
    
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="display-3 ">Now is the Time!</h1>
                    <br>
                    <p class="lead ">A fertility tracking app, with a co-creative sharing
                        <br> option.</p>
                    <br>
                    <a class="btn btn-primary btn-lg " href="about.ejs" role="button">Learn more</a>
                    </p>
                </div>
            </div> 
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              
                <a href="/auth/google"><img src="images/googlesignin.png" width="250" height="75" alt="googlesignin"></a>

            </div>
        </div>
    </div>
</div>

    <br><br>
<!-- Footer -->
           <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright Perfect Time
              </div>
          </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>