<!DOCTYPE html>
<html lang="en">

<head>
    <title>Members</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" sizes="16x16" href="images/logo.ico">
</head>

<body>
    <nav class="nav">
        <ul class="nav justify-content-center">
            <a href="/login"><img src="images/logo.png" alt="perfecttime" id="brand-image"></a>
            <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charts">Charts</a>
            </li>
            <li>
                <a class="nav-link right" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Welcome <span class="member-name"></span></h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8 mid">
                <div class="placeholder cal">
                    <iframe src="https://calendar.google.com/calendar/embed?src=25q8a5nb29grsbvr2iq84fdeq0%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
        <br>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>

</body>

</html>