<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
<h1>WE MADE IT</h1>

<h2>Welcome, <%= user.name %></h2>
<a href="/auth/logout"><button id="logout" href="/auth/logout">LOGOUT?</button></a>
</body>
</html>