.jumbotron {
	background: url("http://www.ob-tampons.com/Sitefinity/WebsiteTemplates/ob/App_Themes/ob/images/pt/period_calculator_banner_2.png") no-repeat;
	background-size:  cover;
	height: 450px;
}


.jumbotron2 {
	background: url("https://s-i.huffpost.com/gen/1905860/images/o-HAPPY-WOMAN-facebook.jpg") no-repeat;
	background-size: cover;
	height: 400px;
}

.jumbotron, .jumbotron2 h1 {
	color: #ffffff;
}

.jumbotron2 p {
	color: #ffffff;
}

p {
	color: black;
}


.navbar {
  margin: 0;

}

.navbar-inverse {
   background-color: #ffffff;
    border-color: #e7e7e7;

}

#brand-image {
	width: 180px;
	height: 180px;
	margin: -15px;
	margin-left: 30px;
	/*position: relative;*/
}

.navbar li {
	padding-top: 50px;
}

/*form*/

#app {
	margin-top: 80px;
	font-size: 16px;
	text-align: center;
}

hr {
	width: 50%;
}

.login-form {
	margin-top: 30px;
}

.input {
	margin: 5px;
	width: 20%;
	height:25px;
}

button:hover {
	background-color: #000;
	color: #fff;
}

/*~~~~~~~~~~~~~~<<<<<TEMPORARY>>>>>>>>~~~~~~~~~~~~~~~*/
.placeholder {
	background-color: lightgrey;
}
.cal {
	height: 320px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mid {
	margin: auto;
}

.indent {
	margin-left: 30px;
}


/*Chart*/
body {
	font-size: 16px;
}


/*About*/

/* Profile picture properties */
.image-holder img {
  border-radius: 50%;
  display: inline;
  width: 200px;
  height: 200px;
}

/* Modifies name properties */
.team-name {
  font-size: 18px;
  margin: 12px 0;
}

.footer-copyright {
	color: #ffffff;
	background-color: #ff6666;
}
