.jumbotron {
	background: url("http://www.ob-tampons.com/Sitefinity/WebsiteTemplates/ob/App_Themes/ob/images/pt/period_calculator_banner_2.png") no-repeat;
	background-size:  cover;
	height: 400px;
}


.jumbotron2 {
	background: url("https://s-i.huffpost.com/gen/1905860/images/o-HAPPY-WOMAN-facebook.jpg") no-repeat;
	background-size: cover;
	height: 400px;
}

.jumbotron, .jumbotron2 h1 {
	color: #ffffff;
}

.jumbotron2 p {
	color: #ffffff;
}

p {
	color: black;
}


.navbar {
  margin: 0;

}

.navbar-inverse {
   background-color: #ffffff;
    border-color: #e7e7e7;

}

#brand-image {
	width: 180px;
	height: 180px;
	margin: -15px;
	margin-left: 30px;
	/*position: relative;*/
}

.nav li {
	padding-top: 50px;
}

/*form*/

#app {
	margin-top: 80px;
	font-size: 16px;
	text-align: center;
}

hr {
	width: 50%;
}

.login-form {
	margin-top: 30px;
}

.input {
	margin: 5px;
	width: 20%;
	height:25px;
}

button:hover {
	background-color: #000;
	color: #fff;
}

/*Charts Inputs*/
#cycle-length {
	padding-top: 15px;
	} 

.placeholder {
	background-color: white;
}
.cal {
	height: 320px;
}

.mid {
	margin: auto;
}

.indent {
	margin-left: 30px;
}

.date-input {
	font-weight: normal;
}

.chosen-select	{
	font-weight: normal;
}

#temp-heading 	{
	padding-top: 10px;
}

#mood-heading	{
	padding-top: 15px;
}

#energy-heading	{
	padding-top: 10px;
}

#symptoms-heading	{
	padding-top: 20px;
}

#intercourse-heading	{
	padding-top: 10px;
}

#conception-heading 	{
	padding-top: 10px;
}

#medications-heading	{
	padding-top: 20px;
}

#supplements-heading 	{
	padding-top: 10px;
}
/*Chart*/
body {
	font-size: 16px;
}


/*About*/

/* Profile picture properties */
.image-holder img {
  border-radius: 50%;
  display: inline;
  width: 200px;
  height: 200px;
}

/* Modifies name properties */
.team-name {
  font-size: 18px;
  margin: 12px 0;
}

.footer-copyright {
/*	color: #ffffff;
	background-color: #ff6666;
	height:100px;

}*/

    /*position:fxed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff6666;
    color: white;
    text-align: center;
}